yolov8n.pt
yolo11n.pt
yolo_service.py.backup
yolo_service.py
yolo_detection_code.js
yolo_config.yaml
vercel.json
test-api.js
simple-server.py
server.js.backup.20251020_002743
server.js.backup.20251020_001435
server.js.backup
render.yaml
netlify-deploy.zip
manifest.json
hello.js
health-analysis.html.backup
fix-all-css.js
deployment-check.js
check-deployment.js
cathealth.db
best.pt
api.js
server-backup-20251020-073208
scripts
node_modules
deploy-to-netlify
deploy-backend
backup_20251021_075216
.env
.yaml
.pt
.db
.vercel
.github
.gitattributes